[submodule "XboxController/SDL"]
	path = XboxController/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "XboxController/simple-xpad"]
	path = XboxController/simple-xpad
	url = https://github.com/adamczykpiotr/simple-xpad.git
